.checkboxradio {	
	&-row {
		display: inline-block;
		padding: 0px 15px 23px 0px;
	}
	&-label {
		cursor: pointer;
		display:inline-block;
		line-height: 35px;
		padding-left: 46px;
		position: relative;
		&:before {
			background: transparent;
			border: 1px solid $gull-grey;
			content: "";
			left: 2px;
			position: absolute;
			top: 0px;
			@include width-height(35px, 35px);
			transition: all 250ms cubic-bezier(.4, .0, .23, 1);
		}
		&:hover{
			&:before {
		    	border-color: $sea-blue;
		    }			
		}
		&.disabled {
			color: $light-grey;
			cursor: default;
			&:before {
				border:1px solid $light-grey;				
			}
		}
	}
	.radio-label {
		&:before {
			@include border-radius(100%);
		    border:1px solid $gull-grey;
			background-color: #fff;
		}
		&.disabled {
			cursor: default;
			&:before {
				border:1px solid $light-grey;
			}
			&:hover{
				&:after{
					display: none;
				}
			}
		}
		&:after{
			background-color: $gull-grey;
			content:'';
		    display: block;
		    margin: 2px;
		    left: 4px; 
		    position: absolute;
		    @include border-radius(100%);
		    @include transition-event;
		    @include transform (scale(0));
		    @include width-height(8px, 8px);
		    top:2px;
		}

		&:hover{
			&:after{
				background-color: $gull-grey;
				@include width-height(8px, 8px);
				@include transform (scale(1));
			}
		}
	}
	&-item:checked ~ label{
		&:before {
			color:$white;
		 	position: absolute;
		 	text-align: center;
		}
	}
	&-item:checked ~ .checkbox-label{
		&:before {
		  border: 18px solid $sea-blue;
			@include animation(shrink-bounce 400ms cubic-bezier(.4, .0, .23, 1));
		}
		&:after{
			color: $white;
			content:"";
			position: absolute;
			top:17px;
			left:15px;
			border-right: 2px solid transparent;
			border-bottom: 2px solid transparent;
			transform: rotate(45deg);
			transform-origin: 0% 100%;
			@include animation(checkbox-check 300ms 400ms cubic-bezier(.4, .0, .23, 1) forwards);
		}		
	}
	&-item:checked ~ .radio-label{
		&:before {
			background-color: $white;
			border: 1px solid $sea-blue;
		}
		&:after{
			background-color:$sea-blue;
			margin: 2px;
			@include width-height(8px, 8px);
			@include transform (scale(1));
		}
	}
	&-invisible {
		display: none;
	}
	h4{
		padding-bottom:10px;
	}
}