.floating-item {
	display: block;
	position: relative;
	width:100%;
	&-input {
		border: none;
		border:$fm-border-thickness solid $fm-border-color;
		@include transition-event(border, 0.25s, ease-in);
		padding:10px 15px;
		width: 100%;
		box-shadow: none;
		&:focus {
			border-color:$primary-color;
		}
	}
	&-input:focus ~ &-label {		
		color: $form-border-active;
	}
	&-input:focus ~ &-label, .input-email-active ~ &-label {
		top:-12px;		
	}
	&-label {
		@include transition-event(all, 0.15s, ease-in);
		background-color: $white;
		color: $fm-flt-label-color;
		cursor: text;
		font:{
			size:$font-md;
		}
		left:12px;
		padding: 0px 5px;
		position: absolute;
		top:11px;
	}
	&-icon {
		color: $fm-flt-label-color;
		font-size: $font-lg;
		line-height: 20px;
		left:15px;
		position: absolute;
		top:14px;
	}
	&.input-animate{
		color: $form-border-active!important;
		text-transform: uppercase;
		input{
			border-color: $form-border-active;
		}
		span{					
			font-family: $font-workSansBold;
		}
	}
}
.input-with-icon .floating-item-input {
	padding-left: 40px;
}
.input-with-icon .floating-item-label {
	left: 37px;	
}

input[type="file"]{
	opacity:0;
	padding: 12px 15px;
}

input[type="file"], 
.upload-button, .subscribe-button {	
	cursor:pointer;
	position: absolute;
	top:0;
	width:100%;
	right:0;
}

.upload-button, .subscribe-button {
	border:none;
	height:46px;
	width:150px;
}

.upload-input{
	padding-right:150px;
}
.succes-message {
	display:none;
	padding:15px 0 0 0;
}
.subscribe-button {
	background-color:$sea-blue;
	.button {
		background-color:$sea-blue;
		color:$secondary-color;
		height:100%;
		margin:0;
		min-width:100%;
		padding:0;
		@include transition(none);
	}
	.preloader {
		display:none;
		margin:-17px 0 0 -17px;
		position:absolute;
		left:50%;
		top:50%;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type=password] {
        -webkit-text-stroke-width: .2em;
        letter-spacing: 0.2em;
        text-indent:3px;
        font-weight: normal;
    }
}