// Form common
.form-row {
	margin-bottom:24px;
	position:relative;
		&.error-row{
			.floating-item-input{
				border-bottom:1px solid $error-color;
			}
			.floating-item-label, 
			.floating-item-input:focus ~ .floating-item-label{
				//color:$error-color;
			}
		}
		.error-message{
			background-color:$error-color;
			color: $white;
			display: none;
			font-size:$font-md;
			padding:10px;
			text-align: left;
			width:100%;
		}
	
}
.input-item {
	display: block;
	font:{
		size: $font-md;
	}
	height: 46px;
	line-height: 20px;
	max-width: 460px;
} 
.info-message{
	display: block;
	padding-bottom:20px;
}
.load-content {
	display:none;
	&:first-child {
		display: block;
	}
}
