//button 
.button {
    border:2px solid $red;
    border-radius: 50px;
    color:$white;
    display: inline-block;
    font-family: $font-workSansBold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing:1.5px;
    text-transform: uppercase;   
    cursor:pointer;
    height:50px;
    max-width: 215px;
    padding:15px;
    text-align: center;
    overflow:hidden;
    position:relative;
    width: 100%;
    z-index:1;
    @include single-transition(all, 0.3s, cubic-bezier(0.75, 0, 0.125, 1));
    -webkit-backface-visibility:hidden;
    @include transform(translate3d(0,0,0));
    background: $red;
   /* &:after {
        border-radius: 50px;
        background:white; 
        z-index:-1; 
        top:2px;
        right:2px; 
        left:2px; 
        bottom:2px;
    }
    &:after, &:before {
        content:"";
        position:absolute;
    }
    &:before {
        background: transparent;
        left:0px;
        top:0;
        height:100%;
        width:100%;
        @include transform(translateY(100%));
        @include single-transition(transform, 0.3s, cubic-bezier(0.75, 0, 0.125, 1));
        z-index:-2;
    }*/
    &:hover { 
        background: $white;
        color:$red;
        /*&:before {
            @include transform(translateY(0%));
        }  */ 
    } 
    &-disable{
        background: $button-disable-bg;
        color: $button-disable-bg;
        pointer-events: none;
    }
    &-solid{      
        color: $white;  
        background: $red;
       /* &:after{
            background: $red;
        } 
        &:before{
            background: $black;
        }  */
        &:hover{
            color: $black;           
        }
    }
    &-blk{
        a{
            color: #fff;
            display: inline-block;
            font-size: 12px;
            line-height: 18px;
            margin-left: 25px;
            padding-left: 24px;
            position: relative;
            vertical-align: middle;
        }
    }
    &-round{
        background-color: $white;
        color: $red;
        min-width: 100px;
        max-width: inherit;
        width: inherit;
        /*&.button:before, &.button:after{
            border-radius: 30px;
        }*/
       /* &.button:after{
            border: 2px solid $red;
        }*/
        &:hover{    
            color: $white;
            background: $red;
        }
    }
    &-inner{
            display: inline-block;
            vertical-align: middle;        
    }
    &-white{
       /* &:before{
            background: $black;
        }*/
    }
    &-secondary{
        background-color: $red;
        color: $white;
        &:hover{
            background-color: $white;
            color: $red;
        }
    }
}
//button tag
.generic .button-tag a {
    &, &:hover {
        color:$white;
    }
}
.button-tag{
    margin-bottom: 40px;
    a{        
        background-color: $sea-blue;
        border-radius: 30px;
        color: $white;
        display: inline-block;
        line-height: 21px;
        overflow:hidden; 
        padding:5px 10px;
        margin:3px 1px;
        position: relative;
        text-align: center;
        z-index: 1;
        &:hover{
            background-color:$dark-blue;
        }
    }
}

@media screen and (max-width: 767px) {
    .button{
        &-inner{
            display: block;
            &:first-child{
                margin-bottom: 20px;
            }
        }
    }
    
}