.dyn-button { 
    max-width: 215px;
    width: 100%;    
    &.learn-more{
        max-width: 150px;
         a{
            border: none;
            background: transparent;
            max-width: inherit;
            &:before{
                color: $red;
                content: "\f107";
                font-family: $font-awesome;
                font-size: 18px;
                @include position(absolute, $left:5px, $top:50%);
                @include transform(translateY(-50%));
            }
            &:hover{
                background: transparent;
                color: $turbo-black;
            }
        }
    }
    a{
         border:2px solid $red;
        border-radius: 50px;
        color:$white;
        display: inline-block;
        font-family: $font-workSansBold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing:1.5px;
        text-transform: uppercase;   
        cursor:pointer;
        height:50px;
        max-width: 215px;
        padding:15px;
        text-align: center;
        overflow:hidden;
        position:relative;
        width: 100%;
        z-index:1;
        @include single-transition(all, 0.3s, cubic-bezier(0.75, 0, 0.125, 1));
        -webkit-backface-visibility:hidden;
        @include transform(translate3d(0,0,0));
        background: $red;
       /* &:after {
            border-radius: 50px;
            background:white; 
            z-index:-1; 
            top:2px;
            right:2px; 
            left:2px; 
            bottom:2px;
        }
        &:after, &:before {
            content:"";
            position:absolute;
        }
        &:before {
            background: transparent;
            left:0px;
            top:0;
            height:100%;
            width:100%;
            @include transform(translateY(100%));
            @include single-transition(transform, 0.3s, cubic-bezier(0.75, 0, 0.125, 1));
            z-index:-2;
        }*/
        &:hover { 
            background: $white;
            color:$red;
            /*&:before {
                @include transform(translateY(0%));
            }  */ 
        } 
    }   
    &-disable a{
        background: $button-disable-bg;
        color: $button-disable-bg;
        pointer-events: none;
    }
    &-solid a{      
        color: $white;  
        background: $red;
       /* &:after{
            background: $red;
        } 
        &:before{
            background: $black;
        }  */
        &:hover{
            color: $black;           
        }
    }
    &-white a{
        /*&:before{
            background: $black;
        }*/        
        background-color: $white;
        border-color: $white;
        &:hover{
            background-color: $white;
            border-color: $white;
        }
    }
    &-round a{
        min-width: 100px;
        max-width: inherit;
        width: inherit;
        /*&.button:before, &.button:after{
            border-radius: 30px;
        }*/
       /* &.button:after{
            border: 2px solid $red;
        }*/
        &:hover{    
            color: $red;
            background: transparent;
        }
    }
    &-secondary a{
        background-color: $white;
        color: $red;
        &:hover{
            background-color: $red;
            color: $white;
        }
    }
}