.file-browse{
	.button{
		background-color: transparent;
		color: $red;
		font-size: $font-md;
		font-weight: 700;
		line-height: 20px;
		max-width: 100px;
		width: 100%;
		text-decoration: none;	
		@include position(absolute, $top: 0, $right: 0);
		@include box-shadow(none);
		&:before, &:after{
			display: none;	
		}
	}
	input{
		border: 1px solid $form-border;
		padding: 7px 15px;
		padding-right: 140px;
	}
	.file-upload{
		z-index: 99;
	}
	.upload-input{
		padding-right: 0px;		
		&:hover{
			button{		
				color: $black;
			}
		}
	}
}

@media screen and (max-width:640px) {
	.file-browse{
		.button{
			min-width: 90px;
			width: 90px;
		}
		input{
			padding-right: 90px;
		}
	}
}