footer{
	padding: 60px 0;
	.copy, li{
		display: inline-block;
	}
	li{
		&:not(:last-child){
			padding: 0 18px;
		}
	}
	a {
		font-family: inherit;
		&:hover {
			color: $orange;
		}
	}
	copy{
		color: $black;
		float: left;
		font-family: $font-workSansRegular;
	}
}
.subpage{
	footer{
		border-top: 1px solid $border-color;
		padding: 43px 0px;
	}
}
.privacy{
	float:left;
}
.social-icons{
	float:right;
	font-size: 20px;
	margin-left: 20px;
	position: relative;
	&:before{
		color: #dee2e5;
		content: "|";
		font-size: 14px;
		@include position(absolute, $left: 0, $top: 50%);
		@include transform(translateY(-50%));
	}
}
@media screen and (max-width: 1024px){
	footer{
		.copy{
			margin-bottom: 5px;
			text-align: center;
    	width: 100%;
		}
		.fR{
			float: none;
    	text-align: center;
		}
		.privacy,.social-icons{
			float: none;
			margin-bottom: 5px;
			margin-left: inherit;
			&:hover{
				color: $orange;
			}
		}
		.social-icons{
			&:before{
				display: none;
			}
		}
	}
}
@media screen and (max-width: 640px){
	footer{
		padding: 30px 0;
		text-align: center;
		.copy{
			display: block;
		}

		ul{
			float: none;
			padding-bottom:20px;
			li{
				&:first-child{
					padding-left:0
				}
			}
		}
	}
}

@media screen and (max-width: 640px){
	footer{
		ul{
			padding: 0;
		}
	}
}