//custom style for dropdown
.ui-selectmenu-menu{
	@include position(absolute, $top: 49px!important, $left: 0px);
	@include transition(none);
}
.ui-selectmenu-button.ui-button:before{
	z-index: 9;
}
.ui-selectmenu-button.ui-button{
	background-color: $white;
	border: 1px solid $form-border;
	padding: 15px;
}
.ui-selectmenu-menu .ui-menu{
	background-color: $white;
	border: 1px solid $form-border;
	border-top: none;
}
.ui-selectmenu-menu.ui-selectmenu-open {
	margin-left: -0.5px;
}
.ui-menu {
	.ui-menu-item{
		padding: 0px;
		&:before{
			display: none;
		}
		&-wrapper{
			padding: 10px 15px;
		}
	}
}
.select-row{
	position: relative;
}

.intro-content{
	padding-bottom: 20px;
	p{
		color:$back-text;
		font-size: $font-md3;
		line-height: $font-lg3;
	}
}
.intro-content >:last-child, .content-row >:last-child, .content-row [class*="col-"] >:last-child{
	padding-bottom: 0	
}

//generic
.generic-page {
	padding-bottom: 80px;
	padding-top: 80px;
	.form-row{
		margin:{
			left: 0;
			right: 0;
		}
		label{
			margin-bottom: 0px;
		}
	}
	.title-content{
		padding-bottom: 18px;
	}
}
.content-image {
	border-bottom: 1px solid $figcaption-border;
	margin: 87px -25% 68px;
	figcaption {
		padding: 21px 16.6667%;
	}
	img {
		width: 100%;
	}
}

//band 

.quates-block {
	background-color: $orange;
	color: $white;
	margin: 44px -160px 69px;
	padding: 78px 50px 50px;
	h5 {
		padding-bottom: 40px;
		text-transform: uppercase;
	}
	p {
		font-size: 30px;
		font-style: italic;
		font-family: $font-WorkSans-Light;
		line-height: 38px;
	}
}
.generic-list{
	margin-bottom: 30px;
	li{
		padding: 2px 16px;
		position: relative;
		&:before{
			color:$bullet-color;
			content: "\f111";
			font:{
				family: FontAwesome;
				size: 7px;
			}
			@include position(absolute, $left: 0px, $top: 3px);
		}	
	}	
}
.bottom-space{
	margin-bottom: 30px;
}
.dbl-button{
	.dyn-button{
		display: inline-block;
		&:first-child{
			float: left;
			margin-right: 25px;
		}
	}
}
p{
	margin-bottom: 25px;
	a{
		font-family: inherit;
	}
}

// Blog detail

.blog-detail {
	padding: {
		top: 100px;
		bottom: 45px;
	}
	&-row{
		flex: inherit;
		margin: 0px 10px 19px;
		max-width: calc(33.3333% - 20px);
		padding: 0px;
		@include transition(all 0.12s ease-in-out);
		.blog{
			&-image{
				position: relative;
				&:before{
					content: "";
			    background-image: url(/html/img/splitter.png);
			    background-repeat: repeat-x;
			    background-size: 30px;
			    height: 50px;
			    width: 100%;
			    z-index: 1;
			    @include position(absolute, $left: 0,$bottom: -45px)
				}
				img{
					width: 100%;
				}
			}
			&-caption{
				box-shadow: 0 0.1px 20px #e6e6e6;
				padding: 20px 13px 12px 13px;
				h4{
					color: $red;
				}
				p{
					margin-bottom: 0;
				}
			}
		}
		&:hover{
			@include transform(scale(1.06));
		}
	}
}
@media screen and (max-width:1023px){
	.content-image {
		margin: 30px 0px;	
	}
	.blog-detail{
		&-row{
			flex: inherit;
			max-width: calc(50% - 20px)!important;
			&:hover{
				@include transform(inherit);
			}
		}
	}
}

@media screen and (max-width:767px){
	[class*=col-] {
		max-width: 100%;
		flex: 100%;
	}
}
@media screen and (max-width: 640px){
	.quates-block{
		margin: 0 -15px 20px!important;
		padding: 30px 20px 7px;
		h5 {
    		padding-bottom: 20px;
    	}
    	p {
   			font-size: 18px;
   			line-height: 24px;
   		}
	}
	.dbl-button{
		.dyn-button{
			display: inline-block;
			&:first-child{
				float: none;
				margin-right: 0px;
				margin-bottom: 20px;
			}
		}
	}
	.blog-detail{
		padding: 40px 5px 10px;
		&-row{
			flex: inherit;
			max-width: 100%!important;
		}
	}
}