@import '/hero-banner';

#scroll-banner-container{
	.dropdown-trigger{
		top:-17px;
	}
}
header{
	background: white;
	padding: 21px 0;
	opacity:1;
	transition: transform 0.35s, opacity 0.35s, background-color 0.35s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	z-index: 99;
	.button{
		font-size: 10px;
	}
}
.mobile-login, .tab-show{
	display: none;
}
.pull-menu-right {
	
}
.logo{
	display: inline-block; 
	float:left;  
	width: 130px;
    padding: 12px 0;
	.hamburger{
		display: none;
		font-size: 32px;
	}
	&:hover{
		&:after{
			display: none;
		}
	}
}
.menu{
	&-blk{
		float: right;
	}
}
nav{
	display: inline-block;
	li{
		display: inline-block;
	}
	a{
		color: $red;
		display: block;
		font-family: $font-workSansBold;
		font-size: 10px;
		line-height: 16px;
		letter-spacing: 1px;
		padding: 14px 10px;
		position: relative;
		text-transform: uppercase;
		&:hover, &.active{
			color:$sea-blue;
		}
	}
	li{
		position: relative;
		&:hover{
			>ul{
				opacity: 1;
				top: 48px;
				visibility: visible;
				ul{
					top: 0;
				}
			}
		}
		ul{
			background-color : $white;
			border: 1px solid $silver;
			min-width: 160px;
			opacity: 0;
			text-align: left;
			visibility: hidden;
			@include position(absolute, $top: 28px, $left: 0px);
			@include single-transition(all, 0.3s, ease-in-out);
			a{
				padding: 10px;
				&:hover, &.active{
					&:after{
						display: none;
					}
				}
			}
			li{
				display: block;
			}
			ul{
				left: 158px;
				top: -30px;
			}
		}
	}
}
nav, .button-round{
	vertical-align: middle;
}
.dropdown-trigger{
	position: absolute;
	top:0;
	right:10px;
	&:before{
		color:$white;
		content:"\f107";
		position: absolute;
		font-family:$font-awesome;
		top:10px;
		@include width-height(100%, 100%);
		line-height:64px;
		text-align: center;
		left:0;
	}
}
.hidden{
	overflow: hidden;
}
.subpage{	
	header{
		.logo{			  
			margin-left: 16.66667%;
		}
	}
}
@media screen and (max-width: 767px) {
	header{
		background: transparent;
		&.secondary-header{			
		background: #5bb6c8;
			height: 70px;
			.logo{
				top: 25px;
			}
			.menu-toggle{
				top: 4px;
			}
		}
	}
	#scroll-banner-container{
		.dropdown-trigger{
			top:-12px;
		}
	}

	.logo{
		position: absolute;
		left: 50%;
		width: 120px;
	 	@include transform(translateX(-50%));
	 	padding: 0px;
    	top: 40px;
	}
	.mobile-login,  .tab-show{
		display: block;
	}
	.desktop-login, .tab-hide{
		display: none;
	}
	.dropdown-trigger{
		color: #fff;
	    cursor: pointer;
	    width:50px;
	    height:40px;
	    top:0;
	    right:0;
	    z-index:3;
    	&:before{
    		content:"\f107";
    		position: absolute;
    		font-family:$font-awesome;
    		top:0 !important;
    		@include width-height(100%, 100%);
    		line-height:40px;
    		text-align: center;
    		left:0;
    	}
	}
	//mobile menu section
	/*mobile menu section*/
    .menu-toggle {
	    /* height: 43px; */
	    position: fixed;
	    top: 20px;
	    right: 0px;
	    cursor: pointer;
	    padding: 18px;
	    width: 62px;
	    z-index: 999;
	    &.on {
	    	right:15px;
	    	top:25px;
	        .one {
	            @include transform(rotate(45deg) translate(2px, 2px));
	        }
	        .two {
	            opacity: 0;
	        }
	        .three {
	            @include transform (rotate(-45deg) translate(8px, -8px));
	        }
	    }
	    &.mobile-fixed{
	    	.one,
			.two,
			.three {
		    	background: $yellow;
		    }
	    }
	}
	.one,
	.two,
	.three {
	    background: $white;
	    margin: 4px auto;
	    backface-visibility: hidden;
	   /* @include box-shadow(0px 0px 3px 0px #ccc);*/
	    @include transition-duration(0.3s);
	    @include width-height(100%, 3px);
	}

	nav {
		    background-color: $footer-bg;	    
		    padding: 85px 0px 0;
		    z-index: 99;
		    @include position(fixed, $top: 0px, $right: 0, $bottom: null, $left: null);
		    @include width-height(240px, 100%);
		    @include transition-property(all);
		    @include transition-duration(0.6s);
		    @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
		    @include transform (translateX(100%));
		    overflow-y:auto;
		    &.slide {
		       @include transform (translateX(0));
		    }
		    ul{
		        padding: 0px;
		        text-align: left;
		    }
		    li {
		        display: block;
		        list-style: none; 
		        
		        ul{
		        	display: none;
		        	background-color: #203148;
					border: none;
					opacity: 1;
					position: static;
					padding-top:10px;
					padding-bottom:10px;
					visibility: visible;
					width: 100%;
					@include single-transition(none);
		        	a{
		        		padding-left: 40px;
		        	}
		        }
		    }
		    a {
	        	font:{
	        		size:$font-md;
	        	}
	            color: $white; 
	            display: block;
	            letter-spacing:1px;
	            padding:15px 30px;
	            text-transform: uppercase;
	            &:after{
	            	display: none;
	            }      
	        }
		}
}