.homebanner{
	background-repeat: no-repeat;
	background-position: top center;
	@include background-size(cover);
	position: relative;	
	&:before{
	    content: "";
	    background-image: url(/html/img/splitter.png);
	    background-repeat: repeat-x;
	    background-size: 30px;
	    position: absolute;
	    bottom: -45px;
	    left: 0;
	    height: 50px;
	    width: 100%;
	    z-index: 1;
	}
	&-image{
	    position: absolute;
	    right: -100px;
	    width: 50%;
	    bottom: 0;
	    z-index: 0;
	}
	&-innerblk{
		display: flex;
		align-items: center;
	}
	&, &-innerblk{
		height: calc(100vh - 60px);
		min-height: 600px;			
	}
	&-content{
		padding-top: 80px;
		width: 520px;
		h1 {
			font-size: 54px;
			font-family: $font-varelaRegular;
			line-height: 60px;    
			padding-bottom: 0px;
		}
		strong {
			color: $white;
			font-family: $font-varelaRegular;
		}
		p{
			font-size: 18px;
			line-height: 30px;
			padding-right: 80px;
			padding-bottom: 40px;
		}
		/*.learn-more{
			color:$white;
			font-family: $font-workSansBold;
			font-size: 12px;
			line-height: 18px; 
			margin-left: 25px;
			position: relative;
			padding-left: 24px;
			&:hover{
				color: $red;
			}
			&:before {
				content: "\f107";
				color: $red;
				font-family: $font-awesome;
				font-size: 18px;
				@include transform(translateY(-50%));
				@include position(absolute, $top: 50%, $left: 0px);
			}
		}*/
	}
}

//feature

.feature {
	padding: {
		bottom: 72px;
		top: 130px;
	}
	&-leftBlk {
		padding: 57px 0;
		h2 {			
			padding-bottom: 45px;
		}
	}
	&-rightBlk {
		&-content {
			display: inline-block;
			margin: 0 -2px;    
			padding: 0 24px 50px;
			vertical-align: top;
			width: 50%;
		}
		img {
			margin-bottom: 12px;
			width: 50px;
		}
		h3 {
			padding-bottom: 20px;
		}
		p {
			padding: 0;
		}
	}
}


//price
.price-menu{ display: none;}
.price {
	&-blk {
		text-align: center;
		margin-bottom: 62px;
		position: relative;
		&:before{
			content: "";
			@include background(radial-gradient(at 50% bottom, rgba(#2f2f2f, 0.4),rgba(#e2e2e2, 0.1), #fff));
			@include width-height(85%, 70%);
			@include position(absolute, $left: 50%, $bottom: 0px);
			@include transform(translateX(-50%));
			z-index: -1;
		}
		h2 {
			padding-bottom: 118px;
		}
	}
	&-innerBlk {
		ul{
			margin:0 -2px;
		}
		.price-content{							
      @include transform(scale(1));
			@include transition(transform .05s linear);
		}
		li {
			float: left;
			cursor: pointer;
			margin: 0 -2px;
			padding: 90px 39px 50px;
			width: 33.33%;
			position: relative;			
			@include transition(transform .05s linear);
      @include transform(scale(1));
      transform-origin: 50% 50%;
      z-index:1;
			&:before{
			    content: "";
			    background-image: url(/html/img/splitter.png);
			    background-repeat: repeat-x;
			    background-size: 30px;
			    position: absolute;
			    top: -6px;
			    left: 0;
			    height: 50px;
			    width: 100%;
			}
			&:hover {
				@include box-shadow(0 15px 40px rgba($black, 0.1));
				@include transform(scale(1.07));
				z-index:2;
				.price-content{					
					@include transform(scale(0.95));
				}
			}
			&:nth-child(1){
				background: #09bc1e;
				background: -moz-linear-gradient(top, #09bc1e 1%, #07a316 100%);
				background: -webkit-linear-gradient(top, #09bc1e 1%,#07a316 100%);
				background: linear-gradient(to bottom, #09bc1e 1%,#07a316 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09bc1e', endColorstr='#07a316',GradientType=0 );
				.dyn-button a{
					color: $green;
					&:hover {
						color: $black;
					}
				}
			}
			&:nth-child(2){
				background: #ffa600;
				background: -moz-linear-gradient(top, #ffa600 0%, #ff9100 100%);
				background: -webkit-linear-gradient(top, #ffa600 0%,#ff9100 100%);
				background: linear-gradient(to bottom, #ffa600 0%,#ff9100 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa600', endColorstr='#ff9100',GradientType=0 );
				.dyn-button a{
					color: $orange;
					&:hover {
						color: $black;
					}
				}
			}
			&:nth-child(3){
				background: #f80069;
				background: -moz-linear-gradient(top, #f80069 0%, #f50057 100%);
				background: -webkit-linear-gradient(top, #f80069 0%,#f50057 100%);
				background: linear-gradient(to bottom, #f80069 0%,#f50057 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f80069', endColorstr='#f50057',GradientType=0 );
				.dyn-button a{
					color: $red;
					&:hover {
						color: $black;
					}
				}
			}
		}
		h3 {
			padding-bottom: 12px;
		}
		p {
			padding: 0 25px 28px;
		}
		.dyn-button{
			max-width: 100%;
		}
	}
	&-month {
		color: $white;
		font-size: 12px;
		font-family: $font-workSansBold;
		line-height: 18px;
		padding-bottom: 26px;
		span {
			display: block;
			text-transform: uppercase;
			font-family: $font-WorkSans-Light;
		}
	}
}


//process

.process {
	padding: {
		bottom: 90px;
		top:106px;
	}
	text-align: center;
	&-title {
		padding-bottom: 42px;
		h2 {
			padding-bottom: 18px;
		}
		p {
			padding-bottom: 22px;
		}
	}
	&-innerBlk {
		padding-bottom: 50px;
		position: relative;
		margin: 0 -50px;
		&:before{
			background-image: url(/html/img/wave.png);
			background-size: 300px;
			content: '';
			position: absolute;
			top: 26px;
			left: 0;
			width: 100%;
			height: 10px;
			z-index: -2;
		}
	}
	&-content {
		padding: 0 10px;
		text-align: center;
		position: relative; 
		h3 {
			font-family: $font-workSansRegular;
			padding-bottom: 32px;
		}
		p{
			padding: 0 30px 20px;
		}
		&:nth-child(1){
			.process-number{
				border-color: $green;
			}
			strong, .process-number{
				color: $green;
			} 
			&:before{
				content: '';
				position: absolute;
				background: white;
				height: 100%;
				left:0;
				top: 0;
				width: 64%;
				z-index: -1;
			}
		}
		&:nth-child(2){
			.process-number{
				border-color: $orange;
				outline: 12px solid white;
			}
			strong, .process-number{
				color: $orange;
			}
		}
		&:nth-child(3){
			.process-number{
				border-color: $red;
			}
			strong, .process-number{ 
				color: $red;
			}
			&:before{
				content: '';
				position: absolute;
				background: white;
				height: 100%;
				right:0;
				top: 0;
				width: 64%;
				z-index: -1;
			}
		}
	}
	&-number {
		background: $white;
		border: 3px solid transparent;
		border-radius: 50%;
		font-family: $font-workSansRegular;
		font-size: 24px;
		font-weight: 700;
		line-height: 54px;
		height: 60px; 
		margin: 0 auto 33px;
		text-align: center;
		width: 60px;
	}
}

//testimonial
.testimonial {	
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $white;
	margin-bottom: 130px;
	@include background-size(cover);
	text-align: center;
	&, &-box{
		min-height: 700px;
		position: relative;		
	}
 	&-box{	
		display: flex;
		align-items: center;
		&:before{
		    content: "";
		    background-image: url(/html/img/splitter.png);
		    background-repeat: repeat-x;
		    background-size: 30px;
		    position: absolute;
		    bottom: -44px;
		    left: 0;
		    height: 50px;
		    width: 100%;
		}
	}
	&:before{
		background: rgba(255, 145, 0,0.8);
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&:after{
		content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    border-top: 130px solid #fff;
	    border-right: calc(100vw - 1.2vw) solid transparent;
	}
	&-blog{
		padding-top: 46px;
	}
	&-blk {
		color: white;
		padding-bottom: 10px;
		p {
			font-size: 30px;
			font-style: italic;
			font-family: $font-WorkSans-Light;
			line-height: 38px;
			padding-bottom: 48px;
		} 
	}
	&-name {
		font-family: $font-workSansBold;
		font-size: 18px;
		line-height: 26px;
		text-transform: uppercase;
	}
	.slick-dots{
		li{
			opacity: 0.6;	
			&.slick-active{
				background: white;
				opacity: 1;
				width: 12px;
				height: 12px;
			}		
		}
	}
	.prev{
		@include position(absolute, $left:-325px, $top:50%);
		@include transform(translateY(-50%));
	}
	.next{
		@include position(absolute, $right:-325px, $top:50%);
		@include transform(translateY(-50%));
	}
}
.slick-arrow {
	cursor: pointer;
	display: inline-block;
	font-size: 100px;
  height: 50px;
  line-height: 50px;
  opacity: 0.7;
  width: 50px;
  &:hover{
  	color: $white;
  	opacity: 1;
  }
}

.slider-for{
	.slick-dots{
		margin-left: 30px;
	}
	.slick-arrow {		
		font-size: 36px;
		opacity: 1;
	}
	.prev{
		@include position(absolute, $left: 0px, $bottom:-12px);
	}
	.next{
		@include position(absolute, $right: 53%, $bottom:-12px);
	}
}
.work{
	&-slider{
		background-color: $red;
		position: relative;
		min-height: 850px;
		&:before{
		    content: "";
		    background-image: url(/html/img/splitter.png);
		    background-repeat: repeat-x;
		    background-size: 30px;
		    position: absolute;
		    top: -6px;
		    left: 0;
		    height: 50px;
		    width: 100%;
		}
		&:after{
			content: "";
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    border-bottom: 130px solid #fff;
		    border-left: calc(100vw - 1.2vw) solid transparent;
			z-index: 0;
		}
		.row{
			position: relative;
		}
	}
	&-blk{
		display: flex;
		flex-direction: row-reverse;
	}
	&-sliderBlk {
		position: relative;
	}
	&-image{
		position: absolute !important;
		left: -300px;
		bottom: -80px;
		width: 100%;
		z-index: 1;
		img{
			max-height: 800px;
		}
		.slick-slide{
			@include display-flex();
    	@include justify-content(center);
    	@include align-items(center);
			padding-top: 150px;
		}
		&-collection{
			position: absolute;
			right: 0;
			top: 0;
			img{
				width: 50%;
				height: inherit;
			}
			.image-blink{
				position: absolute;
				top: -35px;
				right: 300px;
			}
		}
	} 
	&-content {
		display: inline-block;
		padding: 240px 0;    
		position: relative;
    	z-index: 3;
		width: 380px;
		h6 {
			color: $white;
			font-size: 14px;
			line-height: 20px;
			padding-bottom: 30px;
		}
		h2 {
		 	color: $darkBlue;
			padding-bottom: 20px;
		}
		p {
			color: $darkBlue;
			padding-bottom: 48px;
		}
	}
}

.work-content-mobile{
	display: none;

	h6{
		color:$white;
		padding-bottom:30px;
	}
}

.mobile-accordion{
	&-content{
		display: none;
	}
}


//slick
.slick-dots{
	li{
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		width: 10px;
		height: 10px;
		background: white;
		border-radius: 50%;
    	margin: 0 5px;
    	&.slick-active{
    		background: $black;
			width: 12px;
			height: 12px;
    	}
	}
	button{
		display: none;
	}
}
.slick-slide{
	outline: none;
}
@media screen and (max-width:1250px){
	.testimonial{
		.prev{
			left: -160px;
		}
		.next{
			right: -160px;
		}
	}
}
@media screen and (max-width:1024px){
		header .container{
		 max-width: 100%;
		}
	.work-slider{
		padding-top:50px;
		padding-bottom:120px;
		min-height: inherit;
		&:after{
		    border-bottom: 100px solid #fff;
		    border-left: 140.8vw solid transparent;
		}
	}
	.work-blk{
		display: none !important;
	}
	.work-content-mobile{
		display: block;
		
	} 	
	.work-slider, .feature, .testimonial, .price-blk{
		padding-left:25px;
		padding-right: 25px;
	}
	.price-innerBlk ul{
		padding:0;
	}
	.process{
		&-innerBlk{
			margin: 0 -15px;
		}
	}
	.mobile-accordion{
		border-bottom:1px solid #fb8ab6;
		h2{
			padding-bottom:15px;
			padding-top:15px;
			padding-right:60px;
			position: relative;
			line-height:28px;
			&:after{
				content: "\f107";
				color:$white;
				font:{
					size:24px;
					family:$font-awesome;
				}
				position: absolute;
				right:0;
				top:0;
				text-align: center;
				line-height:60px;
				width:60px;
				height:60px;
			}
			&.active{
				&:after{
					content:"\f106";
				}
			}
		}
	}

	.feature{
		padding-top:60px;
		padding-bottom:30px;
		.col-5, .col-7{
			float: none;
		    flex: inherit;
		    max-width: 100%;
		}

		.button{
			display: none;
		}
		.feature-leftBlk{
			padding:0;
		}
	}

	.testimonial{
		background-image: none;
		&:before{
			background: rgb(255,145,0);
		}
		&:after{
			border-top:60px solid #fff;
		}
		.slick-dots{
			li{
				background-color:$white;
			}
		}
	}
	&-blog{
		padding-top:0;
	}
}

@media screen and (max-width:1024px){
	.price-innerBlk {
		li{
			padding: 90px 28px 50px;
		}
	}
}

@media screen and (max-width:840px) {
	.price-menu{
		display: block;
		ul{
		    max-width: 340px;
		    margin: 0 auto;
		}
		li{
			font:{
				family:$font-workSansBold;
			}
			display: inline-block;
			margin:0 -2px;
			padding:15px 25px 20px; 
			text-transform: uppercase;
			width: 33.3333%;
			&.current{
				a{
					color:#191844;
				}
			}
			&:first-child{
				padding-left:0;
				text-align: left;
			}
			&:last-child{
				padding-right:0;
				text-align: right;
			}
		}
		a{
			color:#8987af;
		}
	}
	.price{
		&-innerBlk{
			max-width:340px;
			margin: 0 auto;
			width:100%;
			ul{display: block;}
			li{
				display: none;
				width:100%;
				@include transition-property(inherit);
        @include transition-duration(inherit);
        @include transition-timing-function(inherit);
        @include transform(scale(inherit));
        transform-origin: inherit;
				&:first-child{
					display: block;
				}
				&:before{
					display: none;
				}
				&:hover{					
        	@include transform(inherit);
        		.price-content{
        			@include transform(inherit);
        		}
				}
			}
		}
		&-blk{
			&:before{
				display: none;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	[class*="col-"]{
		float: none;
		flex: 0;
		display: block;
		max-width:100%;
	}
	h2{
		font:{
			size:24px;
		}
		line-height:28px;
	}
	.homebanner{
		&-image{
			display: none;
		}
		&-innerblk{		    
			@include align-items(flex-end);
		}
		&-content{
			padding: 0 20px 30px;
			text-align: center;
			width: 100%;
			.learn-more{
				margin-left: 0;
			}
			h2, p{
				color: white;
			}
			p{
				padding-right: 0;
			}
			h2{
				font-family: $font-workSansRegular;
			}
		}
	}
	.work{
		&-slider:before,
		&-image{
			display: none;
		}
	}
	.process{
		padding:50px 0;
		&-content{
			float: left;
			&:first-child:before, &:last-child:before{
				display: none;
			}
			.process-number{
			    outline: 12px solid #fff;
			}
		}
		&-title{
			max-width: 100%;
			p{
				display: none;
			}
		}
	}
	.slick-dots{
			li{
				background: $red;
			}
	}
	.price-blk{
		padding:0 15px;
		h2{
			padding-bottom:35px;
		}
	}
	
	.feature{
		&-rightBlk{
			.slick-list{
				padding-left:0 !important;
			}
			&-content{
					display: block;
					margin:0 0 30px;
					padding:0 0;
					width:100%;
				> div{
					padding:0 15px 0 0;
				}
			}
		}
	}
	.testimonial{
		margin-bottom:50px;
		&, &-box{
			min-height: inherit;
		}
		&-blog{
			padding-top:0;
		}
		&-box{
			padding:120px 15px 57px;
			h5 {
				padding-bottom: 30px;
			}
			&:before{
				display: none;
			}
		}
	}
	.price-blk{
		margin-bottom:0
	}
	.subpage{
		.homebanner{
			&-content{
				h1{
					font-size: 38px;
				    line-height: 44px;
				    padding-bottom: 0;
				}
			}
			[class*=col-] {
				padding-top: 105px;
			}
		}
	}
	.slick-arrow{
		display: none;
	}
}

@media screen and (max-width: 640px){
	.homebanner-content{
		h1{
			font-size:24px;
			line-height:30px;
			padding-bottom:28px;
		}
		p{
			font-size:14px;
			line-height:24px;
			padding-bottom:28px;
		}
	}
	.mobile-accordion{
		h2{
			font-size:20px;
			line-height:26px;
		}
	}
	.work-slider, .feature, .testimonial, .price-blk{
		padding-left:0px;
		padding-right:0px;
	}
	.price-menu li{
		padding:15px 10px 20px
	}
	.price{
		&-menu{		
			ul{
			    max-width: 280px;
			    margin: 0 auto;
			}
		}
		&-innerBlk{
			max-width: 280px;
		}
	}
	.testimonial-blk {
		p {
			font-size: 26px;
			line-height: 32px;
		}
	}
	.testimonial-box {		
		h5{
			padding-bottom: 40px;
			text-transform: uppercase;
		}
	}
	.subpage{
		.homebanner{
			&-content{
				h1{
					font-size: 24px;
				    line-height: 30px;
				    padding-bottom: 28px;
				}
			}
		}
	}
}